@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.grain-overlay {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCTt96muFTNkyMoij7GOHL8ZTDWskMdrUntaRPsQdoTsi-k-xm1P0Wkz6bXCOidlgYavlvelerAJdz5mpCh7mbhUO1DDyXL6NxwZKmLrRUT1y77MK4IEVMfEG-niJinLNed91nNr5PZlEIAPfvZqm2gm2Fvwn1yiokIU40VYaPO2eioXhjuYkGUu0_LvY2PG2wEiwxMGge8PcvH27Q3T7WJ5Lw7rBgwZ06NF29u7D9W0nVbx3zcyoQ4YSEXHHmSZ8KoIL56OsU-VJT6");
    opacity: 0.03;
    pointer-events: none;
}

.noise-grain {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.03;
    pointer-events: none;
}
